---
---

$header-heading-color: #2E51C7;
$header-bg-color: #edf2f9;
$header-bg-color-secondary: #edf2f9;

@import "{{ site.theme }}";

.project-tagline {
  font-weight: 510;
  font-size: 1.2rem;
  opacity: 1;
}

html, body, .page-header {
    height: 100%;
}
